<html>
  <head>
    <title>Oliver Pope &lt;opope@me.com&gt;</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <a href="/"><img src="https://www.gravatar.com/avatar/265f18ea0fb027ad5fd67a936be309b7" class="me"></a>
    
    <div class="post">
      <div class="data">
        <% if (public.posts._data[current.source]) { %>
        <h1><%- public.posts._data[current.source].title %></h1>
        <%- public.posts._data[current.source].date %>
        <% } %>
      </div>
      <%- yield %>
    </div>
    <script>
    console.log('I am available for hire! Call me: (269) 281-6290');
    </script>
  </body>
</html>
