html, body {
  font: {
    size: 12pt;
    weight: 400;
    family: "Segoe UI", Tahoma, sans-serif; font-size: 75%;
  }
  line-height: 1.4em;
  color: #646464;
  background: #f7f7f7;
  margin: 0;

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.6em;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
}

// common
h1 {
    margin-top: 0;
    word-wrap: break-word;
    color: #333;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 16px;
}
a {
    color: rgb(17, 85, 204);
    text-decoration: none;
}
.title {
  color: #333;
}
.me {
  width: 72px;
  border-radius: 100%;
      margin: 0 0 40px;
      box-shadow: 0 0  8px #333;
}

// .post
.post {

  .data {
    h1 {
      line-height: 1em;
      margin: 0;
    }
  }
}

// .list
.list {
  font-family: "Menlo", "Monaco", monospace;

  .list-item {
    font-size: 1.2em;
    line-height: 2em;
    .list-item-date {
      color: #AF88F8;
    }
  }
}

// img
img {
  width: 100%;
  border-radius: 2px;
}

// code
pre, code {
  font-family: "Menlo", "Monaco", monospace;
  font-size: 10pt;
}

pre {
  border-radius: 2px;
  background: #f8f8f8;
  color: #646464;
  border: 1px solid #646464;
  padding: 1em;
  white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}