<div class="metadata">
  <h1 class="title"><a href="/" class="title">oliverlog</a></h1>
  <p class="description">As an eighteen year old web developer, Oliver Pope travels to the web’s outer-rim. In a state of perpetual learning, he works with the latest tools and web languages to create a beautifully dynamic experience.</p>
  <p class="links">
    <a href="//github.com/owebboy">Github</a>
    <a href="//twitter.com/owebboy">Twitter</a>
    <a href="/projects">Projects</a>
  </p>
</div>

<h1>posts</h1>
<ul>
  <% for(var i in public.posts._data){ %>
    <div class="list-item">
      <% var post = public.posts._data[i] %>
      <a href="/posts/<%= i %>"><span class="list-item-date"><%= post.date %></span></a> ~ <%= post.title %>
    </div>
  <% } %>
</ul>

<h1>projects</h1>
<ul><li>  <a href="https://github.com/owebboy/buttons">buttons</a>: A bunch of beautifully styled buttons
</li><li>  <a href="https://github.com/owebboy/minimal.css">minimal.css</a>: A simple, easy to use styleguide
</li><li>  <a href="https://github.com/owebboy/typographic-styles">typographic styles</a>: Simple styleguide. Built for typeography
</li><li>  <a href="http://owebboy.github.io/stain/">stain</a>: This is a good resource for colors on the web
</li><li>  <a href="http://owebboy.github.io/presswork/">presswork</a>: This is a great styleguide for a bear bones typographic website
</li><li>  <a href="https://github.com/owebboy/authentication-template">authentication-template</a>: This is a template for nodejs and express. Uses passport.js and mongoose.js to build a simple authentication app.
</li><li>  <a href="https://owebboy.github.io/o-syntax/">o-syntax</a>: 21st century naming conventions
</li><li>  <a href="http://owebboy.github.io/ovis/">ovis</a>: specification for o vegetable internet systems</li></ul>
