// vars
$color: #646464;
$background: #f7f7f7;
$accent: #333;

html, body {
  line-height: 1.4em;
  color: $color;
  background: $background;
  box-sizing: border-box;
  line-height: 1.6em;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
  font: {
    size: 1em;
    weight: 400;
    family: "Segoe UI", Tahoma, sans-serif; 
  }
}

// common
h1 {
  color: $accent;
  word-wrap: break-word;
  line-height: 1.25em;
  font: {
    size: 1.6em;
    weight: normal;
  }
  margin: {
    top: 0;
    bottom: 16px;
  }
}

h2, h3, h4, h5, h6 { font-weight: normal; }

a {
    color: rgb(17, 85, 204);
    text-decoration: none;
}

.title {
  color: #333;
}

.me {
  width: 72px;
  border-radius: 100%;
  margin: 0 0 40px;
  box-shadow: 0 0  8px $accent;
}

.error-code {
  color: $color;
  display: block;
  font-size: .8em;
  margin-top: 15px;
  opacity: 1;
  text-transform: uppercase;
}

// .post
.post {
  .data {
    h1 {
      line-height: 1em;
      margin: 0;
    }
  }
}

// .list
.list {
  .list-item {
    font-size: 1.2em;
    line-height: 2em;
  }
}

// img
img {
  width: 100%;
  border-radius: 2px;
}

// code
pre, code {
  font-family: "Menlo", "Monaco", monospace;
  font-size: 10pt;
}

pre {
  border-radius: 2px;
  background: $background;
  color: $color;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}